In [25]:
import sqlite3
import pandas as pd
from model.address import Address

In [48]:
filepath = 'data/personal.txt'
_df = pd.read_table(filepath)

f_pref = lambda x: Address(x).pref
f_city = lambda x: Address(x).city

_df['都道府県'] = _df['住所'].map(f_pref)
_df['市区町村'] = _df['住所'].map(f_city)
_df.head()

,no,名前,電話番号,郵便番号,住所,都道府県,市区町村
0,1,松崎 安彦,084-965-5860,721-0904,広島県福山市坪生町南２-7-2,広島県,福山市
1,2,小柳 雅生,088-138-9010,771-0372,徳島県鳴門市北灘町粟田1-14-2,徳島県,鳴門市
2,3,菅原 三佐男,0977-28-4440,874-0844,大分県別府市火売2-3-6-5階,大分県,別府市
3,4,永田 安民,0172-26-2645,038-1216,青森県南津軽郡藤崎町榊9-14-2,青森県,南津軽郡藤崎町
4,5,長谷川 慎治,01635-1-5357,098-6341,北海道宗谷郡猿払村知来別7-11-5 ニューコーポ知来別 5階,北海道,宗谷郡猿払村

In [57]:
df = _df.iloc[:, [1,4,5,6]]

In [58]:
db_name = 'data/sample.db'
conn = sqlite3.connect(db_name)

In [59]:
df.to_sql('address', conn, if_exists="replace")

In [60]:
query = "SELECT * FROM address"
c = conn.cursor()
c.execute(query)
c.fetchall()

[(0, '松崎 安彦', '広島県福山市坪生町南２-7-2', '広島県', '福山市'),
 (1, '小柳 雅生', '徳島県鳴門市北灘町粟田1-14-2', '徳島県', '鳴門市'),
 (2, '菅原 三佐男', '大分県別府市火売2-3-6-5階', '大分県', '別府市'),
 (3, '永田 安民', '青森県南津軽郡藤崎町榊9-14-2', '青森県', '南津軽郡藤崎町'),
 (4, '長谷川 慎治', '北海道宗谷郡猿払村知来別7-11-5 ニューコーポ知来別 5階', '北海道', '宗谷郡猿払村'),
 (5, '江口 雅則', '山形県米沢市万世町桑山9-2-5', '山形県', '米沢市'),
 (6, '小山 俊郎', '愛知県稲沢市梅須賀町5625', '愛知県', '稲沢市'),
 (7, '須田 政広', '北海道北斗市村山3-6-1', '北海道', '北斗市'),
 (8, '比嘉 祐次郎', '群馬県太田市新田村田町1-9-5 ライオンズマンション新田村田町 1306', '群馬県', '太田市'),
 (9, '丹羽 次男', '北海道北見市ひかり野3-14-5', '北海道', '北見市'),
 (10, '高野 今朝雄', '栃木県宇都宮市峰4-10-4', '栃木県', '宇都宮市'),
 (11, '栗田 有子', '茨城県北茨城市関本町関本中5-1-9-1112号室', '茨城県', '北茨城市'),
 (12, '伊東 夕子', '青森県中津軽郡西目屋村居森平9-13-1', '青森県', '中津軽郡西目屋村'),
 (13, '北村 友隆', '東京都小平市学園東町2226', '東京都', '小平市'),
 (14, '菅野 陽子', '佐賀県伊万里市東山代町里7-10-2', '佐賀県', '伊万里市'),
 (15, '本田 堅次', '新潟県長岡市鉢伏町8-1-2', '新潟県', '長岡市'),
 (16, '天野 亜由美', '東京都青梅市西分町8267', '東京都', '青梅市'),
 (17, '安藤 房男', '愛知県名古屋市東区主税町3-2-9-409', '愛知県', '名古屋市東区'),
 (18, '松原 千琴', '秋田県大仙市南外水上沢4953', '秋田県', '大仙市'),
 (19, '野田 義隆', '東京都練馬区三原台5-9-4', '東京都', '練馬区'),
 (20, '井口 僧三郎', '秋田県由利本荘市岩城道川6-5-3', '秋田県', '由利本荘市'),
 (21, '小泉 章緒', '北海道紋別郡滝上町雄柏6-15-9', '北海道', '紋別郡滝上町'),
 (22, '水野 美智', '愛知県宝飯郡御津町上佐脇6-8-4', '愛知県', '宝飯郡御津町'),
 (23, '森岡 初美', '栃木県鹿沼市上久我3015', '栃木県', '鹿沼市'),
 (24, '安達 要之助', '熊本県阿蘇郡産山村産山9-1-2-507号室', '熊本県', '阿蘇郡産山村'),
 (25, '篠崎 三平', '福井県福井市下市町3-2-5', '福井県', '福井市'),
 (26, '角田 越子', '東京都八王子市富士見町2-13-3', '東京都', '八王子市'),
 (27, '山岸 秀俊', '東京都東久留米市上の原5-12-9', '東京都', '東久留米市'),
 (28, '川端 次男', '東京都品川区西中延6764', '東京都', '品川区'),
 (29, '菅原 軍市', '宮崎県西都市中央町3542', '宮崎県', '西都市'),
 (30, '藤野 俊彰', '茨城県北相馬郡利根町中田切6-2-4 メルシー中田切 11F', '茨城県', '北相馬郡利根町'),
 (31, '比嘉 秀春', '岐阜県各務原市那加門前町4-8-8 ドミシール那加門前町', '岐阜県', '各務原市'),
 (32, '遠藤 倉美', '福島県河沼郡会津坂下町東川前丙2-13-5', '福島県', '河沼郡会津坂下町'),
 (33, '安部 裕香', '神奈川県鎌倉市津西5-10-4', '神奈川県', '鎌倉市'),
 (34, '北川 信広', '和歌山県和歌山市中ノ店中ノ丁6-10-3 ロイヤル中ノ店中ノ丁', '和歌山県', '和歌山市'),
 (35, '堀川 裕史', '大阪府堺市美原区石原8-3-5 メゾンドフルーレ石原 7階', '大阪府', '堺市美原区'),
 (36, '南 紀世実', '愛知県名古屋市昭和区北山町8-3-4', '愛知県', '名古屋市昭和区'),
 (37, '中村 淳子', '東京都調布市菊野台1493', '東京都', '調布市'),
 (38, '宮川 正保', '大阪府大阪市住吉区山之内3-7-4', '大阪府', '大阪市住吉区'),
 (39, '大槻 光保', '静岡県富士宮市富士見ヶ丘1961', '静岡県', '富士宮市'),
 (40, '広田 益已', '東京都青梅市末広町2-6-2 ハイシティ末広町 1014', '東京都', '青梅市'),
 (41, '永井 智美', '滋賀県東近江市北菩提寺町4-4-1', '滋賀県', '東近江市'),
 (42, '関 雅近', '京都府舞鶴市城屋9-4-9 栄ビル 208号室', '京都府', '舞鶴市'),
 (43, '谷本 雄樹', '茨城県結城市川木谷5-13-4', '茨城県', '結城市'),
 (44, '堤 克明', '東京都西東京市中町3-10-6', '東京都', '西東京市'),
 (45, '土井 明久', '京都府福知山市問屋町3690', '京都府', '福知山市'),
 (46, '白井 春実', '兵庫県佐用郡佐用町南中山4-12-3', '兵庫県', '佐用郡佐用町'),
 (47, '村山 真紀', '茨城県つくば市玉取7-14-2', '茨城県', 'つくば市'),
 (48, '三木 良市', '岐阜県羽島市竹鼻町駒塚9-10-1 コンフォート竹鼻町駒塚', '岐阜県', '羽島市'),
 (49, '浜口 信', '宮城県塩竈市伊保石4-8-5', '宮城県', '塩竈市'),
 (50, '浜口 信２', '品川区西五反田七ノ二二ノ一七 ABCビル５階', None, '品川区'),
 (51, '浜口 信３', '北谷町美浜３の２ 大三ビル二階', None, '北谷町'),
 (52, '浜口 信４', '石狩市花川南34条6丁目7グリーンハイツ4階', None, '石狩市'),
 (53, '浜口 信５', '岩手県西和賀町穴明２２地割14-3 AAAビル 6F', '岩手県', '西和賀町'),
 (54, '浜口 信５', '新宿区市ヶ谷本村町三ー二三 リビングビル9階', None, '新宿区'),
 (55, '浜口 信５', '京都市左京区吉田牛宮町4 日本会館1階', None, '京都市左京区'),
 (56, '浜口 信５', '京都市中京区木屋町通二条下東生洲町484', None, '京都市中京区')]

In [61]:
conn.close()